@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}

.bg-leepo{
    background-image: url('client/src/utils/bg-leepo.png');
    background-repeat: no-repeat;
}



.cont {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 130vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: 'Spartan';
  color: #2A293E;
  margin: 0;
  padding: 0;
}
.c{
     background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center ;
}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

.contact-us label, .contact-us input, .contact-us textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: 'Spartan';
}

.contact-us input {
  margin-bottom: 24pt;
}

.contact-us h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 .5em 0;
}

.contact-us span {
  font-size: 8pt;
}

.contact-us em {
  color: #f45702;
  font-weight: bold;
}

.contact-us input, .contact-us textarea {
  border: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

.contact-us input:focus, .contact-us textarea:focus {
  border: 1px solid #6bd4b1;
}

.contact-us textarea {
  resize: none;
}

.contact-us button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

.contact-us button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

::selection {
  background: rgb(255, 199, 184);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}




@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.footer-bg {
    position: relative;
    width: 100vw;
    height: 25dvh;
    top: 0;
    left: 0;
    background: #190b2c;
    overflow: hidden;
}

.footer-bg .bg-footer-elmt {
    width: 9vmin;
    height: 9vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.footer-bg .bg-footer-elmt:nth-child(0) {
    color: #FFACAC;
    top: 58%;
    left: 30%;
    animation-duration: 58s;
    animation-delay: -8s;
    transform-origin: 17vw 12vh;
    box-shadow: -40vmin 0 5.393601066052756vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(1) {
    color: #583C87;
    top: 3%;
    left: 12%;
    animation-duration: 35s;
    animation-delay: -17s;
    transform-origin: -4vw -16vh;
    box-shadow: 40vmin 0 5.458765769606881vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(2) {
    color: #FFACAC;
    top: 22%;
    left: 49%;
    animation-duration: 41s;
    animation-delay: -40s;
    transform-origin: 21vw 15vh;
    box-shadow: -40vmin 0 5.804196229364377vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(3) {
    color: #E45A84;
    top: 93%;
    left: 4%;
    animation-duration: 23s;
    animation-delay: -18s;
    transform-origin: 7vw 13vh;
    box-shadow: -40vmin 0 5.584757303419408vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(4) {
    color: #583C87;
    top: 11%;
    left: 7%;
    animation-duration: 10s;
    animation-delay: -43s;
    transform-origin: -18vw 22vh;
    box-shadow: 40vmin 0 5.877789399835596vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(5) {
    color: #FFACAC;
    top: 44%;
    left: 91%;
    animation-duration: 20s;
    animation-delay: -6s;
    transform-origin: 19vw 2vh;
    box-shadow: -40vmin 0 5.346980929593129vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(6) {
    color: #FFACAC;
    top: 43%;
    left: 88%;
    animation-duration: 23s;
    animation-delay: -12s;
    transform-origin: -4vw 23vh;
    box-shadow: 40vmin 0 5.2044945555865425vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(7) {
    color: #583C87;
    top: 3%;
    left: 33%;
    animation-duration: 11s;
    animation-delay: -25s;
    transform-origin: 17vw 10vh;
    box-shadow: -40vmin 0 5.638697476641871vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(8) {
    color: #583C87;
    top: 72%;
    left: 31%;
    animation-duration: 12s;
    animation-delay: -2s;
    transform-origin: -9vw -20vh;
    box-shadow: -40vmin 0 5.05040291417799vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(9) {
    color: #FFACAC;
    top: 44%;
    left: 64%;
    animation-duration: 14s;
    animation-delay: -24s;
    transform-origin: -13vw -4vh;
    box-shadow: -40vmin 0 5.541784984942904vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(10) {
    color: #FFACAC;
    top: 4%;
    left: 48%;
    animation-duration: 35s;
    animation-delay: -50s;
    transform-origin: 2vw 13vh;
    box-shadow: -40vmin 0 5.365042140365501vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(11) {
    color: #583C87;
    top: 29%;
    left: 59%;
    animation-duration: 12s;
    animation-delay: -40s;
    transform-origin: -1vw -12vh;
    box-shadow: 40vmin 0 5.38337220501583vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(12) {
    color: #E45A84;
    top: 20%;
    left: 33%;
    animation-duration: 10s;
    animation-delay: -32s;
    transform-origin: 2vw 17vh;
    box-shadow: -40vmin 0 5.00631288547104vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(13) {
    color: #FFACAC;
    top: 96%;
    left: 68%;
    animation-duration: 22s;
    animation-delay: -42s;
    transform-origin: -18vw 2vh;
    box-shadow: -40vmin 0 5.4075647295110665vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(14) {
    color: #FFACAC;
    top: 6%;
    left: 76%;
    animation-duration: 10s;
    animation-delay: -36s;
    transform-origin: 13vw 23vh;
    box-shadow: 40vmin 0 5.936600192565767vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(15) {
    color: #583C87;
    top: 8%;
    left: 38%;
    animation-duration: 36s;
    animation-delay: -49s;
    transform-origin: -11vw 21vh;
    box-shadow: 40vmin 0 5.582052376523835vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(16) {
    color: #E45A84;
    top: 31%;
    left: 32%;
    animation-duration: 38s;
    animation-delay: -30s;
    transform-origin: 3vw -11vh;
    box-shadow: -40vmin 0 5.580866856680835vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(17) {
    color: #583C87;
    top: 26%;
    left: 15%;
    animation-duration: 20s;
    animation-delay: -15s;
    transform-origin: 20vw -18vh;
    box-shadow: 40vmin 0 5.968947676783525vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(18) {
    color: #E45A84;
    top: 14%;
    left: 71%;
    animation-duration: 17s;
    animation-delay: -7s;
    transform-origin: 13vw -4vh;
    box-shadow: -40vmin 0 5.764882372711636vmin currentColor;
}
.footer-bg .bg-footer-elmt:nth-child(19) {
    color: #583C87;
    top: 34%;
    left: 29%;
    animation-duration: 6s;
    animation-delay: -4s;
    transform-origin: 11vw -22vh;
    box-shadow: 40vmin 0 5.047216857523862vmin currentColor;
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}






.about-bg {
    position: relative;
    width: 100vw;
    height: 150vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #d87233;
    overflow: hidden;
    
}
.about-bg .about-bg-item {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(234, 243, 132, 0.2);
    animation: animate 5s linear infinite;
}

.about-bg .about-bg-item:nth-child(0) {
    left: 82%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 1s;
}
.about-bg .about-bg-item:nth-child(1) {
    left: 62%;
    width: 143px;
    height: 143px;
    bottom: -143px;
    animation-delay: 3s;
}
.about-bg .about-bg-item:nth-child(2) {
    left: 45%;
    width: 68px;
    height: 68px;
    bottom: -62px;
    animation-delay: 1s;
}
.about-bg .about-bg-item:nth-child(3) {
    left: 51%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 8s;
}
.about-bg .about-bg-item:nth-child(4) {
    left: 45%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 14s;
}
.about-bg .about-bg-item:nth-child(5) {
    left: 50%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 9s;
}
.about-bg .about-bg-item:nth-child(6) {
    left: 83%;
    width: 88px;
    height: 88px;
    bottom: -81px;
    animation-delay: 18s;
}
.about-bg .about-bg-item:nth-child(7) {
    left: 11%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 19s;
}
.about-bg .about-bg-item:nth-child(8) {
    left: 20%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 21s;
}
.about-bg .about-bg-item:nth-child(9) {
    left: 5%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 7s;
}
.about-bg .about-bg-item:nth-child(10) {
    left: 7%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 43s;
}
.about-bg .about-bg-item:nth-child(11) {
    left: 89%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 43s;
}
.about-bg .about-bg-item:nth-child(12) {
    left: 57%;
    width: 57px;
    height: 57px;
    bottom: -57px;
    animation-delay: 22s;
}
.about-bg .about-bg-item:nth-child(13) {
    left: 39%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 53s;
}
.about-bg .about-bg-item:nth-child(14) {
    left: 23%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 19s;
}
.about-bg .about-bg-item:nth-child(15) {
    left: 16%;
    width: 65px;
    height: 65px;
    bottom: -65px;
    animation-delay: 68s;
}
.about-bg .about-bg-item:nth-child(16) {
    left: 84%;
    width: 80px;
    height: 80px;
    bottom: -80px;
    animation-delay: 12s;
}
.about-bg .about-bg-item:nth-child(17) {
    left: 57%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 69s;
}
.about-bg .about-bg-item:nth-child(18) {
    left: 31%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 61s;
}
.about-bg .about-bg-item:nth-child(19) {
    left: 11%;
    width: 63px;
    height: 63px;
    bottom: -63px;
    animation-delay: 16s;
}
.about-bg .about-bg-item:nth-child(20) {
    left: 70%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 81s;
}
.about-bg .about-bg-item:nth-child(21) {
    left: 57%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 86s;
}
.about-bg .about-bg-item:nth-child(22) {
    left: 31%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 2s;
}
.about-bg .about-bg-item:nth-child(23) {
    left: 18%;
    width: 65px;
    height: 65px;
    bottom: -65px;
    animation-delay: 21s;
}
